{% extends 'main.html' %}
<script src="/static/admin/js/form-component.js"></script>
{% block content %}

<script>
    portfolioApp.controller('static', function($scope, $http, $timeout) {

        $scope.new_static_element = {};

        $scope.get_static_data = function () {
            return $http({ method: 'POST',url: '/admin/static'}).then(function successCallback(response) {
                $scope.types = response.data.types;
                $scope.static_data = response.data.static_data
            }, function errorCallback(response) {
            });
        };

        $scope.edit = function(static_element) {
            $scope.new_static_element = static_element;
            $('#addStatic').modal('show');
        };

        $scope.delete = function(static_element) {
            return $http({ method: 'DELETE',url: '/admin/static', data: static_element}).then(function successCallback(response) {
                $scope.static_data = response.data.static_data
            }, function errorCallback(response) {
            });
        };

        $scope.save = function (static_element) {
            var url ='';
            if(static_element.hasOwnProperty('id')){
                url = '/admin/static?edit'
            }else{
                url = '/admin/static?add'
            }
            if(url !== ''){
                return $http({ method: 'PUT',url: url, data: static_element}).then(function successCallback(response) {
                    $('#addStatic').modal('hide');
                    $scope.static_data = response.data.static_data
                }, function errorCallback(response) {
                });
            }
        }

    });

</script>
<section ng-init="get_static_data()" id="main-content" style="margin-bottom: 200px" ng-controller="static">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i>Static data</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="icon_document_alt"></i>Forms</li>
                    <li><i class="fa fa-file-text-o"></i>Static data</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Static data
                    </header>
                    <div class="panel-body">
                        <div class="col-lg-9 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2><i class="fa fa-flag-o red"></i><strong>Static data</strong></h2>
                                    <div class="panel-actions">
                                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table bootstrap-datatable countries">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Text</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="element in static_data">
                                                <td ng-bind="element.type"></td>
                                                <td ng-bind="element.text"></td>
                                                <td><button class="btn btn-primary" ng-click="edit(element)">Edit</button></td>
                                                <td><button class="btn btn-primary" ng-click="delete(element)">Delete</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--/col-->
                        <a class="btn btn-success" data-toggle="modal" href="#addStatic" ng-click="new_static_element={}">Add Element</a>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="modal fade" id="addStatic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Add Project</h4>
              </div>
              <div class="modal-body" >
                  <div class="modal-row">
                    <select class="form-control" ng-model="new_static_element.type" ng-options="type for type in types"></select>
                  </div>
                  <div class="modal-row"><textarea class="form-control" ng-model="new_static_element.text" placeholder="text"></textarea></div>
              </div>
              <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                  <button class="btn btn-success" type="button" ng-click="save(new_static_element)">Save Element</button>
              </div>
          </div>
      </div>
    </div>
</section>
{% end %}